body, html {
    height: 200%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    
    background-image: url("https://wallpapercave.com/wp/wp2634222.jpg");
  
    
    min-height: 580px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  

    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .btn {
    background-color:#4CAF50;
    color:white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:100%
}

button:hover {
  opacity:0.8;
}
